/* ALL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 85vw;
  margin: 0 auto;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  text-align: center;
}
header a {
  text-decoration: none;
}
header h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #d04f4f;
}

/* SEARCH */
.search {
  margin-top: 20px;
  position: relative;
}
.search #searchBar {
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.search #searchIcon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}

/* FILTERS */
.filters {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.filters__block {
  position: relative;
}
.filters__block__arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
}
.filters__block__arrow:hover {
  cursor: pointer;
}
.filters__input__block {
  position: relative;
}
.filters__input {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding: 20px 15px;
  width: 170px;
  transition: width 0.2s ease;
}
.filters__input::placeholder {
  color: #dddddd;
}
.filters__input.expanded {
  width: 340px;
}
.filters__input.open {
  border-radius: 5px 5px 0 0;
}
.filters__input#ingredients {
  background-color: #3282f7;
}
.filters__input#ingredients.open {
  width: 70vw;
}
.filters__input#devices {
  background-color: #68d9a4;
}
.filters__input#devices.open {
  width: 30vw;
}
.filters__input#utensils {
  background-color: #ed6454;
}
.filters__input#utensils.open {
  width: 20vw;
}
.filters__option {
  display: none;
  position: absolute;
  border-radius: 0 0 5px 5px;
  width: 100%;
  padding: 20px;
}
.filters__option.open {
  display: flex;
}
.filters__option__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.filters__option__list li {
  color: #fff;
  flex-basis: 5%;
  font-size: 18px;
}
.filters__option__list li::first-letter {
  text-transform: capitalize;
}
.filters__option__ingredients {
  height: 600px;
}
.filters__option__ingredients__list li {
  width: 16%;
}
.filters__option__devices {
  height: 300px;
}
.filters__option__devices__list li {
  width: 100%;
}
.filters__option__ingredients {
  background-color: #3282f7;
}
.filters__option__devices {
  background-color: #68d9a4;
}
.filters__option__utensils {
  background-color: #ed6454;
}

/* RECIPES */
.recipes {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-bottom: 50px;
}
.recipes .recipe-card.hidden {
  display: none;
}
.recipes .recipe-card.show {
  display: block;
}
.recipes .recipe-card__image {
  height: 200px;
  width: 100%;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}
.recipes .recipe-card__description {
  height: calc(100% - 200px);
  width: 100%;
  padding: 20px;
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  display: flex;
}
.recipes .recipe-card__description--left, .recipes .recipe-card__description--right {
  width: 50%;
}
.recipes .recipe-card__description--left__title, .recipes .recipe-card__description--right__title {
  margin-bottom: 20px;
}
.recipes .recipe-card__description--left__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.recipes .recipe-card__description--left__list {
  list-style: none;
}
.recipes .recipe-card__description--left__list li .ingredient {
  font-weight: bold;
}
.recipes .recipe-card__description--right__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
}
.recipes .recipe-card__description--right__title img {
  margin-right: 5px;
}
.recipes .recipe-card__description--right__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: justify;
}
