/* ALL */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 85vw;
	margin: 0 auto;
	font-family: "Lato", Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
	text-align: center;

	a {
		text-decoration: none;
	}

	h1 {
		font-family: "DM Sans", sans-serif;
		font-weight: 700;
		font-size: 36px;
		line-height: 47px;
		color: #d04f4f;
	}
}

/* SEARCH */
.search {
	margin-top: 20px;
	position: relative;

	#searchBar {
		width: 100%;
		background-color: #e7e7e7;
		border: none;
		border-radius: 5px;
		padding: 25px;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
	}

	#searchIcon {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
	}
}

/* SELECTED FILTERS */
.selected-filters {
	margin-top: 20px;

	&__list {
		list-style: none;
		display: none;
		gap: 10px;
		margin: 10px 0;

		&.show {
			display: flex;
		}

		li {
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			padding: 10px 20px;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			& span::first-letter {
				text-transform: capitalize;
			}

			img {
				&:hover {
					cursor: pointer;
				}
			}
		}

		&__ingredients {
			li {
				background-color: #3282f7;
			}
		}

		&__appliance {
			li {
				background-color: #68d9a4;
			}
		}

		&__utensils {
			li {
				background-color: #ed6454;
			}
		}
	}
}

/* FILTERS */
.filters {
	margin-top: 20px;
	display: flex;
	gap: 20px;

	&__block {
		position: relative;

		&__arrow {
			position: absolute;
			top: 50%;
			right: 5px;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			transform: translate(0, -50%);
			transition: all 0.2s ease;

			&:hover {
				cursor: pointer;
				background: #00000020;
			}

			&.open {
				transform: rotate(180deg) translate(0, 50%);
			}
		}
	}

	&__input__block {
		position: relative;
	}

	&__input {
		border: none;
		border-radius: 5px;
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		padding: 20px 15px;
		width: 170px;
		transition: width 0.2s ease;

		&::placeholder {
			color: #dddddd;
		}

		&.expanded {
			width: 340px;
		}

		&.open {
			border-radius: 5px 5px 0 0;
		}

		&#ingredients {
			background-color: #3282f7;

			&.open {
				width: 70vw;
			}
		}

		&#devices {
			background-color: #68d9a4;

			&.open {
				width: 30vw;
			}
		}

		&#utensils {
			background-color: #ed6454;

			&.open {
				width: 20vw;
			}
		}
	}

	&__option {
		display: none;
		position: absolute;
		border-radius: 0 0 5px 5px;
		width: 100%;
		padding: 20px;

		&.open {
			display: flex;
		}

		&__list {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-content: flex-start;
			flex-wrap: wrap;
			list-style: none;

			&__item {
				color: #fff;
				flex-basis: 5%;
				font-size: 18px;

				&:hover {
					cursor: pointer;
					background-color: #00000050;
				}

				&::first-letter {
					text-transform: capitalize;
				}
			}
		}

		&__ingredients {
			height: 600px;

			&__list {
				li {
					width: 16%;
				}
			}
		}

		&__devices {
			height: 300px;

			&__list {
				li {
					width: 100%;
				}
			}
		}

		&__ingredients {
			background-color: #3282f7;
		}
		&__devices {
			background-color: #68d9a4;
		}
		&__utensils {
			background-color: #ed6454;
		}
	}
}

/* RECIPES */
.recipes {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	padding-bottom: 50px;

	.recipe-card {
		&.hidden {
			display: none;
		}

		&.show {
			display: block;
		}

		&__image {
			height: 200px;
			width: 100%;
			background-color: #c7bebe;
			border-radius: 5px 5px 0 0;
		}

		&__description {
			height: calc(100% - 200px);
			width: 100%;
			padding: 20px;
			background-color: #e7e7e7;
			border-radius: 0 0 5px 5px;
			display: flex;

			&--left,
			&--right {
				width: 50%;

				&__title {
					margin-bottom: 20px;
				}
			}

			&--left {
				&__title {
					font-weight: 400;
					font-size: 18px;
					line-height: 22px;
				}

				&__list {
					list-style: none;

					li {
						.ingredient {
							font-weight: bold;
						}
					}
				}
			}

			&--right {
				&__title {
					font-weight: 700;
					font-size: 18px;
					line-height: 22px;

					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					justify-content: end;

					img {
						margin-right: 5px;
					}
				}

				&__text {
					font-family: "Roboto", sans-serif;
					font-weight: 400;
					font-size: 14px;
					line-height: 100%;
					text-align: justify;
				}
			}
		}
	}
}
